/* Variables */

$fondo: linear-gradient(to right top #2a6a71, #0e496c, #08556f, #166071, #2a6a71);
$font: sans-serif;

/* Mapa de colores */
$mapcolor: (
    facebook:#2E406E,
    instagram:#3F60A5,
    whatsapp:#37B839,
    hover:#08556f,
);


* {
    padding: 0;
    margin: 0;
}

/* ESTILOS GENERALES */
/* Header */
header {
    height: 170px;
    width: 100%;

    /* Lista de busqueda */
    nav {
        margin: -18px;
        margin-right: 0px;

        @keyframes nav {
            0% {
                opacity: 0;
            }
        }

        .color {
            color: aliceblue;
            font-size: small;
            text-decoration: none;
            animation-name: nav;
            animation-duration: 5s;
            animation-iteration-count: 1;
        }
    }

    .nav {
        color: white;
        list-style-type: none;
        display: flex;
        justify-content: right;

        li {
            padding: 15px;
            margin-top: 125px;
            --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
        }

        li:after {
            content: "";
            display: block;
            background-color: aliceblue;
            width: 90%;
            height: 3px;
            clip-path: var(--clippy);
            transition: clip-path .6s;
        }

        li:hover {
            --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    /* Logo */
    img {
        height: 100px;
        width: auto;
        float: left;
        margin-left: 39%;
        margin-top: 30px;
        transition: height 1s;
        animation-name: Logo;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }

    @keyframes Logo {
        0% {
            margin-left: 0px;
            opacity: 0;
        }
    }

    img:hover {
        height: 110px;
    }
}




/* body */
body {
    background-image: linear-gradient(to right top, #2a6a71, #166071, #08556f, #0e496c, #1d3d65);
    font-family: $font;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;

    /* Footer */
    footer {
        padding: 1em 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: aliceblue;
    }
}



/* Redes sociales */
.social-bar {
    position: fixed;
    right: 0;
    top: 38%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

    /* Icono */
    .icon {
        color: white;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        padding: .7rem;
        transition: all .5s;
    }

    .icon-facebook {
        background-color: map-get($mapcolor, facebook);
    }

    .icon-instagram {
        background-color: map-get($mapcolor, instagram);
    }

    .icon-whatsapp {
        background-color: map-get($mapcolor, whatsapp);
    }

    .icon:first-child {
        border-radius: 1rem 0 0 0;
    }

    .icon:last-child {
        border-radius: 0 0 0 1rem;
    }

    .icon:hover {
        padding-right: 3rem;
        border-radius: 1rem 0 0 1rem;
        box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    }

}



/* ESTILOS INDEX */
/* Texto presentacion */
main {
    width: 100%;
    height: calc(100vh - 80px);
    background: fixed no-repeat url(./img/herrero1.jpg);
    background-size: cover;
    margin-top: -37px;

    .call {
        float: right;
        width: 48%;
        margin-right: 80px;
        margin-top: 30px;
        background-color: #0e4a6c98;
        height: auto;
        border-radius: 8px;
        transition: padding 0.5s;
        padding: 30px;
        animation-name: Call;
        animation-iteration-count: 1;
        animation-duration: 3s;

        h2 {
            text-align: center;
            font-size: 25px;
            color: aliceblue;
            padding: 15px;
            margin-bottom: -15px;
        }

        p {
            font-size: 15px;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-left: 6px;
            color: aliceblue;
            padding: 15px;
        }

        a {
            width: 80px;
            height: 40px;
            padding: 10px 20px;
            margin-left: 30px;
            border-radius: 5px;
            background-color: #0e496c;
            color: aliceblue;
            text-decoration: none;
        }

        a:hover {
            background-color: map-get($mapcolor, hover);
        }
    }

    @keyframes Call {
        0% {
            opacity: 0;
            margin-right: 700px;
        }
    }

    .call:hover {
        padding: 40px;
    }

}



/* Servicios */
.servicios {
    h4 {
        text-align: center;
        color: aliceblue;
        margin-bottom: 30px;
        margin-top: 80px;
        font-size: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: 200px 200px 300px;
        grid-template-rows: 150px;
        justify-content: center;
    }

    li {
        color: aliceblue;
        margin: 20px;
        padding: 3px;
    }
}


/* Imagen de Herrero */
.herrero {
    width: 100%;
    height: 600px;
    background: fixed no-repeat url(./img/herrero2.jpg);
    background-size: cover;
    margin-bottom: 40px;
}

/* OPINIONES */
.opiniones {
    width: 80%;
    height: 450px;
    margin-left: 130px;

    h3 {
        text-align: center;
        font-size: 25px;
        margin-top: 10px;
        font-family: sans-serif;
        color: aliceblue;
    }

    p {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        color: aliceblue;
    }

    input {
        width: 100px;
        height: 50px;
    }
}


form {
    margin: 0 auto;
    width: 300px;

    textarea {
        width: 870px;
        height: 220px;
        margin-left: -300px;
        border: 2px solid aliceblue;
        cursor: pointer;
        padding: 0.5em;
        margin-bottom: 0px;
        border-radius: 10px;
        color: aliceblue;
        font-size: 16px;
        font-family: sans-serif;
        background: transparent;
        transition: all .5s;
    }

    textarea:hover {
        background-color: #08556f;
        padding: 20px;
    }
}


/* Boton de enviar y limpiar*/

.btn {
    margin: 17px;
    background: transparent;
    padding: 3px;
    color: aliceblue;
    border-radius: 6px;
    border: 1px solid aliceblue;
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 17px;
    transition: all .5s;
}

.btn:hover {
    background-color: map-get($mapcolor, hover);
}



/* Imagen de otro herrero */
article {
    width: 100%;
    height: calc(100vh - 80px);
    background: center fixed no-repeat url(./img/herrero3.jpg);
    background-size: cover;
}


/* Agradecimiento */
.agradecimiento {
    width: 100%;
    height: 200px;

    h1 {
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: aliceblue;
    }

    p {
        @extend h1;
        font-size: 20px;
        margin-top: 30px;

    }

    a {

        color: aliceblue;
    }
}



/* ESTILOS CONTACTO */
/* Formulario de registro */
.contacto {
    width: 400px;
    background: transparent;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 7px 13px 37px #000;

    h4 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 30px;
        color: aliceblue;
    }

    input {
        width: 100%;
        height: 50px;
        background: transparent;
        padding: 3px;
        color: aliceblue;
        border-radius: 6px;
        border: 1px solid gainsboro;
        margin-bottom: 8px;
        font-family: Calibri;
        font-size: 18px;
        transition: all .5s;
    }

    input:hover {
        background-color: map-get($mapcolor, hover);
    }

    label {
        margin-left: 140px;
        font-family: sans-serif;
        font-size: 18px;
        color: aliceblue;
    }

    textarea {
        font-family: sans-serif;
        padding: 5px;
        color: aliceblue;
        background: transparent;
        border-radius: 6px;
        border: 1px solid gainsboro;
        width: 300px;
        margin-left: 50px;
        margin-top: 15px;
        transition: all .5s;
    }

    textarea:hover {
        padding: 10px;
        background-color: map-get($mapcolor, hover);
    }
}

#enviar {
    margin-left: 5px;
}

#limpiar {
    margin-left: 5px;
}



/* estilo SOBRE NOSOTROS */
/* Cuadro */
.nosotros {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 100px 100px;
    margin-top: -20px;
    line-height: 1.5;
    background: transparent;

    /* Imagen */
    img {
        width: 25%;
        height: auto;
        margin-right: 50px;
        margin-left: -50px;
        border: 3px solid transparent;
        border-radius: 8px;
    }

    /* Texto */
    p {
        font-family: sans-serif;
        font-size: 20px;
        text-align: left;
        color: aliceblue;
    }
}


/* estilo MIS TRABAJOS */

@mixin secciones($margin, $margin-top, $margin-left) {
    margin: $margin;
    margin-top: $margin-top;
    margin-left: $margin-left;
}

.seccion1 {
    @include secciones(50px, -40px, 50px);
    display: grid;
    grid-template-columns: (4, 100px);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "img1 img2 img3 img4";
}

.seccion2 {
    @include secciones(50px, 150px, 50px);
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "img5 img6 img7 img8";
    margin-bottom: 300px;
}

.contenedor {
    width: 100%;
    min-height: 400px;
    align-items: center;
    margin-top: 100px;

    figure {
        position: relative;
        width: 250px;
        height: 350px;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 1);
        cursor: pointer;

        img {
            width: 130%;
            height: 100%;
            transition: all 500ms ease-out;
        }

        .capa {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: #0e4a6c94;
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;

            h3 {
                color: aliceblue;
                font-weight: 400px;
                margin-bottom: 120px;
                margin-top: 30px;
                transition: all 500ms ease-out;
            }

            p {
                color: aliceblue;
                font-size: 15px;
                line-height: 1.5;
                width: 100%;
                max-width: 220px;
                margin: auto;
                font-family: sans-serif;
            }

        }
    }
}


.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}



/* estilo Encontranos */

.encontranos {
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 25px;
    color: aliceblue;
}

.mapa {
    margin: 50px;
    margin-left: 360px;
}



/* MEDIA QUERY  MOBIL */
/* MEDIA QUERY MOBIL */

@media only screen and (min-width:499px) and (max-width:650px) {
    /* media query HEADER */

    .header {
        margin-top: 15px;
        height: 200px;

        .logo {
            margin-right: 60px;
        }
    }

    .nav li {
        margin-left: 20px;
    }

    .color {
        margin: 8px;
    }

    /* media query SOCIAL BAR */
    .social-bar {
        font-size: 0.8rem;
    }

    /* media query INDEX */

    /* servicios */
    .servicios {
        ul {
            width: auto;
            display: grid;
            grid-template-columns: 130px 150px 150px;
        }


        li {
            color: aliceblue;
            font-size: 15px;
        }
    }

    /* Opiniones */
    .opiniones {
        width: auto;

        h3 {
            margin-right: 100px;
            font-size: 20px;
        }

        p {
            margin-right: 100px;
            font-size: 17px;
        }
    }


    .opinion {
        textarea {
            margin-left: -60px;
            width: 300px;
        }


        input {
            margin-left: 1px;
        }
    }

    /* media query GALERIA DE FOTOS */
    .seccion1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 180px;
    }

    .seccion2 {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-left: 180px;
    }

    /* media query SOBRE NOSOTROS */
    .nosotros {

        p {
            margin-right: -55px;
            margin-bottom: -200px;
            font-size: 15px;
            text-align: left;
        }

        img {
            width: 40%;
        }
    }

    /* media query CONTACTO */
    .contacto {
        width: 300px;
        padding: 40px;
        border-radius: 8px;
    }

    .contacto h4 {
        font-size: 18px;
    }

    .contacto {
        font-size: 15px;
    }

    .contacto label {
        margin-left: 100px;
        font-size: 17px;
    }

    .contacto textarea {
        margin-left: 0px;
    }

    #enviar {
        margin-left: 5px;
        margin-right: 0;
    }

    /* media query ENCONTRANOS */
    .encontranos {
        font-size: 20px;
    }

    .mapa {
        width: 420px;
        margin-left: 35px;
    }
}

/* MEDIA QUERY*/
@media only screen and (min-width:651px) and (max-width:800px) {
    /* media query HEADER */

    .header {
        margin-top: 10px;
        height: 200px;

        .logo {
            margin-right: 80px;
        }
    }

    .nav li {
        margin-left: 60px;
    }

    .color {
        font-size: 11px;
        margin: 10px;
    }

    /* media query SOCIAL BAR */
    .social-bar {
        font-size: 1rem;
    }

    /* Call */
    .call {
        height: auto;
    }

    /* Servicios */
    .servicios {
        ul {
            width: auto;
            display: grid;
            grid-template-columns: 150px 150px 250px;
        }


        li {
            font-size: 18px;
        }
    }

    /* Opiniones */
    .opiniones {
        h3 {
            margin-left: -70px;
        }

        p {
            margin-left: -90px;
        }
    }

    .opinion {
        textarea {
            margin-left: -80px;
            width: 400px;
        }

        input {
            margin-left: 10px;
        }
    }

    /* media query SOBRE NOSOTROS */
    .nosotros {
        height: 310px;

        p {
            margin-right: -55px;
            margin-bottom: -180px;
            font-size: 15px;
            text-align: left;
        }

        img{
            margin-bottom: -150px;
        }
    }



    /* media query GALERIA DE FOTOS */
    .seccion1 {
        display: grid;
        grid-template-rows: 450px 300px;
        grid-template-areas: "img1 img2"
            "img3 img4";

    }

    .seccion2 {
        display: grid;
        grid-template-rows: 450px 200px;
        grid-template-areas: "img5 img6"
            "img7 img8";

    }

    /* media query ENCONTRANOS */
    .encontranos {
        font-size: 20px;
    }

    .mapa {
        width: 450px;
        margin-left: 150px;
    }
}

/* MEDIA QUERY */
@media only screen and (min-width:801px) and (max-width:950px) {

    .header {
        margin-top: 10px;
        height: 200px;
    }

    .nav li {
        margin: 10px;
    }

    /* Estilos index */
    /* Call */
    .opinion textarea {
        margin-left: -160px;
        width: 600px;
    }

    /* media query SOBRE NOSOTROS */
    .nosotros {
        height: 310px;

        p {
            margin-right: -50px;
            font-size: 17px;
            text-align: center;
            margin-bottom: -300px;
        }

        img {
            margin-bottom: -250px;
        }
    }

    /* media query GALERIA DE FOTOS */
    .seccion1 {
        margin-left: 100px;
        display: grid;
        grid-template-rows: 450px 300px;
        grid-template-areas: "img1 img2"
            "img3 img4";
    }

    .seccion2 {
        margin-left: 100px;
        display: grid;
        grid-template-rows: 450px 200px;
        grid-template-areas: "img5 img6"
            "img7 img8";

    }

    /* media query ENCONTRANOS */
    .encontranos {
        font-size: 20px;
    }

    .mapa {
        width: 450px;
        margin-left: 220px;
    }

}

/* MEDIA QUERY */
@media only screen and (min-width:951px) and (max-width:1040px) {

    .header {
        margin-top: 10px;
        height: 200px;
    }

    .nav li {
        margin-top: 120px;
    }

    /* media query SOBRE NOSOTROS */

    .nosotros p {
        margin-right: -50px;
        font-size: 20px;
        text-align: left;
    }
}

@media only screen and (min-width:951px) and (max-width:1125px) {

    /* Galeria de fotos */
    .seccion1 {
        margin-left: 180px;
        display: grid;
        grid-template-rows: 450px 300px;
        grid-template-areas: "img1 img2"
            "img3 img4";
    }

    .seccion2 {
        margin-left: 180px;
        display: grid;
        grid-template-rows: 450px 200px;
        grid-template-areas: "img5 img6"
            "img7 img8";

    }

    /* media query ENCONTRANOS */
    .encontranos {
        font-size: 25px;
    }

    .mapa {
        width: 550px;
        margin-left: 280px;
    }

}