* {
    padding: 0;
    margin: 0;
}
/* ESTILOS GENERALES */
/* Header */
header {
    background-image: linear-gradient(to right top #2a6a71, #0e496c, #08556f, #166071, #2a6a71);
    height: 145px;
    width: 100%;
}

/* Lista de busqueda */
nav{
    margin: -18px;
    margin-right: 0px;
}
.color{
    color: aliceblue;
    font-size: small;
    text-decoration: none;
}

ul.nav{
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: right; 
}

.nav li{
   padding: 15px;
   margin-top: 96px;
}
.nav li:hover{
    background-color: #08556f;
}
/* body */
body{
    background-image: linear-gradient(to right top, #2a6a71, #166071, #08556f, #0e496c, #1d3d65 );
    font-family: sans-serif;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
/* Footer */

footer{
    background-image: linear-gradient(to right top #2a6a71, #0e496c, #08556f, #166071, #2a6a71);
    padding: 1em 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: aliceblue;
}


/* Logo */
.header img{
    height: 100px;
    width: auto;
    float: left;
    margin-left: 39%;
    margin-top: 30px;
}

/* Redes sociales */
.social-bar{
    position: fixed;
    right: 0;
    top: 38%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
/* Icono */
.icon{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: .7rem;
    transition: all .5s;
}
.icon-facebook{
    background-color: #2E406E;
}
.icon-instagram{
    background-color: #3F60A5;
}
.icon-whatsapp{
    background-color: #37B839;
}
.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}
.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


/* ESTILOS INDEX */
/* Texto presentacion */
main{
    width: 100%;
    height: calc(100vh - 80px);
    background:fixed no-repeat url(./img/herrero1.jpg);
    background-size: cover;
    margin-top: -37px;
}

.call{
    float: right;
    width: 48%;
    margin-right: 80px;
    margin-top: 30px;
    background-color: #0e4a6c98;
    height: 200px;
    border-radius: 8px;
    padding: 10px;
}

.call h2{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    padding: 15px;
    margin-bottom: -15px;
}

.call p{
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 6px;
    color: aliceblue;
    padding: 15px;
}
.call a{
    width: 80px;
    height: 40px;
    padding: 10px 20px;
    margin-left: 30px;
    border-radius: 5px;
    background-color: #0e496c;
    color: aliceblue;
    text-decoration: none;
}

.call a:hover{
    background-color: #166071;
}



/* Servicios */
.servicios h4{
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 80px;
    font-size: 20px;
}
ul.lista{
    display: grid;
    grid-template-columns: 200px 200px 300px;
    grid-template-rows: 150px;
    justify-content: center;
}
.servicios li{
    color: aliceblue;
    margin: 20px;
    padding: 3px;
}
/* Imagen de Herrero */
.herrero{
    width: 100%;
    height: 600px;
    background:fixed no-repeat url(./img/herrero2.jpg.opdownload);
    background-size: cover;
    margin-bottom: 40px;
}
/* OPINIONES */
section .opiniones{
    width: 80%;
    height: 450px;
    margin-left: 130px;
    background-color: #333;
}

.opiniones h3{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    color: aliceblue;
}
.opiniones p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

form{
    margin: 0 auto;
    width: 300px;
}

.opinion textarea{
    width: 870px;
    height: 220px;
    margin-left: -300px;
    border: 2px solid aliceblue;
    padding: 0.5em;
    margin-bottom: 0px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 16px;
    font-family:sans-serif;
    background:transparent;
    transition: all .5s;
}

textarea:hover{
    cursor: pointer;
    background-color:#08556f;
    padding: 20px;
    }

.opiniones input{
    width: 100px;
    height: 50px;
}
/* Boton de enviar y limpiar*/
.opinion input{
    width: 100px;
    height: 50px;
}

.btn{
    margin: 17px;
    background:transparent;
    padding: 3px;
    color: aliceblue;
    border-radius: 6px;
    border: 1px solid aliceblue;
    margin-bottom: 20px;
    font-family: Calibri;
    font-size: 17px;
    transition: all .5s;
}
.btn:hover{
    background-color: #166071;
}



    /* Imagen de otro herrero */
article{
    width: 100%;
    height: calc(100vh - 80px);
    background:center fixed no-repeat url(./img/herrero3.jpg);
    background-size: cover;
}


/* Agradecimiento */
.agradecimiento{
    width: 100%;
    height: 200px;
}

.agradecimiento h1{
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}
.agradecimiento p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    color: aliceblue;
}
.agradecimiento a{
    
    color: aliceblue;
}


/* ESTILOS CONTACTO */
/* Formulario de registro */
.contacto{
    width: 400px;
    background:transparent;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 7px 13px 37px #000;
}

.contacto h4{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    color: aliceblue;
}

.contacto input{
    width: 100%;
    height: 50px;
    background:transparent;
    padding: 3px;
    color: aliceblue;
    border-radius: 6px;
    border: 1px solid gainsboro;
    margin-bottom: 8px;
    font-family: Calibri;
    font-size: 18px;
    transition: all .5s;
}

.contacto input:hover{
    background-color: #0e496c;
    padding: 10px ;
}

.contacto label{
    margin-left: 140px;
    font-family: sans-serif;
    font-size: 18px;
    color: aliceblue;
}

.contacto textarea{
    font-family: sans-serif;
    padding: 5px;
    color: aliceblue;
    background:transparent;
    border-radius: 6px;
    border: 1px solid gainsboro;
    width: 300px;
    margin-left: 50px;
    margin-top: 15px;
    transition: all .5s;
}
.contacto textarea:hover{
    padding: 15px;
}

#enviar{
    margin-left: 5px;
}
#limpiar{
    margin-left: 5px;
}



/* estilo SOBRE NOSOTROS */
/* Cuadro */
.nosotros{ 
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 100px 100px;
    margin-top: -20px;
    line-height: 1.5;
    background: transparent;
}
/* Imagen */
#imagen{
    width: 25%;
    height: auto;
    margin-right: 50px;
    margin-left: -50px;
    border: 3px solid transparent;
    border-radius: 8px;
}
/* Texto */
#texto{
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
    color: aliceblue;
}

/* estilo MIS TRABAJOS */
.seccion1{
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "img1 img2 img3 img4";                  
    margin: 50px;
    margin-top: -50px;
    margin-left: 50px;
}
.seccion2{
    display: grid;
    grid-template-columns: (4, 1fr);
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: "img5 img6 img7 img8";
    margin: 50px;
    margin-top: 150px;
    margin-bottom: 300px;
    margin-left: 50px;
}
.contenedor{
    width: 100%;
    min-height: 400px;
    align-items: center;
    margin-top: 100px;
}

.contenedor figure{
    position: relative;
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.contenedor figure img{
    width: 130%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0e4a6c94;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

.contenedor figure:hover > img{
    transform: scale(1.3);
}

.contenedor figure .capa h3{
    color: aliceblue;
    font-weight: 400px;
    margin-bottom: 120px;
    margin-top: 30px;
    transition: all 500ms ease-out;
}
.contenedor figure .capa p{
    color: aliceblue;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
    font-family: sans-serif;
}



/* estilo Encontranos */

.encontranos{
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 25px;
    color: aliceblue;
}

.mapa{
    margin: 50px;
    margin-left: 360px;
}

/* MEDIA QUERY  MOBIL */     /* MEDIA QUERY MOBIL */

/* media query HEADER */
@media only screen and (min-width:499px) and (max-width:599px){
    h1{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .logo{
        height: 35px;
        width: auto;
        margin-left: 100px;
        margin-top: -55px;
    }
    ul.lista1{
        display: grid;
        grid-template-columns: 120px 100px 100px 100px;
        margin-right: 50px;
    }
    
    .color{
        font-size: 10px;
        text-align: center;
        margin: 5px;
    }


    /* media query SOCIAL BAR */
    .social-bar{
        font-size: 0.8rem;
    }


/* media query INDEX */

/* Tabla de horarios */
    table{
        font-size: small;
        margin-left: 16px;
    }

/* servicios */

    ul.servicios{
        grid-template-columns: 100px 100px 250px;
        grid-template-rows: 200px;
        grid-gap: 15px;
    }
    li.lista2{
        color: aliceblue;
        margin: 20px;
        padding: 3px;
    }
    


/* media query GALERIA DE FOTOS */
    .seccion1{
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        margin-top: -30px;
    }
    .seccion2{
        display: flex;
        flex-direction: column;
        margin-left: 130px;
        margin-top: -30px;
        margin-bottom: 50px;

    }

/* media query SOBRE NOSOTROS */

.nosotros{ 
    height: 310px;
}

#texto{
    margin-right: -55px;
    font-size: 11px;
    text-align: center;
}

#imagen{
    width: 50%;
    border: 2px solid #369681;
}

/* media query CONTACTO */
.contacto{
    width: 300px;
    padding: 40px;
    border-radius: 8px;
}
.contacto h4{
    font-size: 18px;
}
.contacto-form{
    font-size: 15px;
}
.contacto-text{
    margin-left: 100px;
    font-size: 17px;
}
.contacto-textarea{
    margin-left: 20px;
}
#enviar{
    margin-left: 40px;
    margin-right: 0;
}


/* media query ENCONTRANOS */
.encontranos{
    font-size: 20px;
}

.mapa{
    width: 420px;
    margin-left: 35px;
}
}